body {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    height: 60%;
    margin: 10%;
    padding: 0;
    border-radius: 20px;
    -webkit-box-shadow: 0px 20px 80px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 20px 80px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 20px 80px 0px rgba(50, 50, 50, 0.25);
  }
}

.pane {
  height: 60vh;
  float: left;
}

.left-pane {
  border-radius: 20px 0px 0px 20px;
  width: 40%;
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-135deg, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-135deg, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.left-pane h1, .left-pane p {
  color: white;
}

.left-pane .temp-wrap {
  display: table;
  width: 100%;
  height: calc(100% - 180px);
}

.left-pane h1 {
  font-size: 160px;
  font-weight: 100;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.left-pane p.city-name {
  font-size: 36px;
  font-weight: 200;
  margin: 40px;
  line-height: 40px;
  text-transform: capitalize;
}

.left-pane p.date {
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  margin: 20px;
  line-height: 20px;
}

.right-pane {
  border-radius: 0px 20px 20px 0px;
  width: 60%;
}

.md-padding {
  height: 100%;
  
  border-radius: 0px 20px 20px 0px;
}

.ext-content {
  padding: 20px
}

.md-nav-item:first-of-type, .md-button._md-nav-button {
  margin: 0px;
}

.search-container {
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
}

.search-container input {
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  padding-left: 16px;
  text-transform: capitalize;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.error-message {
  color: #d40303;
  padding-left: 16px;
  padding-top: 10px;
}