<div class="pane left-pane">
  <p class="date">{{date | date:'MMM dd'}}</p>
  <div class="temp-wrap"><h1 class="current-temp">{{currentWeather.main.temp | number:0}}°</h1></div>
  <p class="city-name">{{city}}</p>
</div>

<div class="pane right-pane">
  <md-content class="md-padding">
    <div class="search-container">
      <input type="text" ng-model="inputCity" ng-keyup="$event.keyCode == 13 ? getWeather() : null" placeholder="Search city and press Enter..." />
      <div ng-show="cityError" class="ng-hide error-message">I'm sorry, we can only search for cities on planet earth! 😊</div>
    </div>
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="goto('page1')" name="page1">
        Forecast
      </md-nav-item>
      <md-nav-item md-nav-click="goto('page2')" name="page2">
        Air Pollution
      </md-nav-item>
      <md-nav-item md-nav-click="goto('page3')" name="page3">
        UV Exposure
      </md-nav-item>
    </md-nav-bar>

    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="item in weatherForecast.list | limitTo:4" ng-click="null">
            <img ng-src="/images/sun.svg" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
                <p>{{item.dt_txt | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                <h3>Avg Temp: {{item.main.temp | number:0}}</h3>
                <p>Humidity: {{item.main.humidity | number:0}}</p>
            </div>
        </md-list-item>
    </md-list>

  </md-content>
</div>